@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    font-family: roboto ;
    padding: 0;
    margin: 0;
}

nav{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 30px 30px;
    align-items: center;
}

.nav-bar-center ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-center ul li a{
    text-decoration: none;
    color: #072AC8;
    padding: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.nav-bar-center ul li a:hover{
    text-decoration: none;
    color: #072AC8;
    border: 1px solid #D1EDFF;
    /*color: var(--hospital-green);*/
    height: 30px;
}

.logo {
    display: none;
}

#nav-btn{
    display: none;
}





footer{
    padding: 20px;
    margin: 30px;
}

.footer_container{
    width: 100%;
    margin: auto;
}

.footer_container_contact_details_left_text{
    line-height: 25px;
    padding: 20px 0;
    font-size: 15px;
    color: #6B708D;
}

.footer_text_link{
    font-size: 15px;
    text-decoration: none;
    /*margin: 0px 10px;
    padding: 30px 10px;*/
}

.footer_container_contact_details_right ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    
}

.footer_container_contact_details_right ul li a {
    line-height: 35px;
    height: 210px;
    color: #6B708D;
}

.footer_container_contact_details_right ul li a:hover {
    color: #072AC8;
    /*border-bottom: 1px solid;*/
    text-decoration: underline;
}


@media (min-width:1024px){

    h1{
        font-size: 60px;
     }
    
    h2{
         font-size: 50px;
    }
    
    h3{
        font-size: 40px;
    }
    
    h4{
        font-size: 24px;
        font-weight: bold;
    }
    
    
    .intro_text{
        font-size: 20px;
    }
    
    .intro_text_medium{
        font-size: 24px;
    }
    
    .logo{
        display: flex;
        width: 50%;
        margin: 20px;
        padding:20px;
    }
    
    
    nav-bar-center ul{
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 20px;
        font-size: 18px;
        align-items: center;  
    }
    
    .nav-bar-center ul li a{
        padding: 30px;
        font-size: 17px;
    }
        
    .background-btn{
        background-color: #072AC8;
        color: aliceblue;
        border: none;
        width: 150px;
        height: 52px;
    }

    .background-btn a{
        color: aliceblue;
        font-size: 15px;
        text-decoration: none;
    }
    
    #nav-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container_contact_details_left_text{
        font-size: 17px;
    
    }

    .footer_container{
        display: flex;
        justify-content: space-around
        }
    .footer_container_contact_details_right ul {
        grid-template-columns: repeat(3, 1fr);
        
        }
}