
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    font-family:roboto;
    padding: 0;
    margin: 0;
    background-color: #F2F4FC;
}

h1, h2, h3{
    color: #292E47;
    font-weight: bold;
}

h1{
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
}

h3{
    font-size: 18px;
    
}

h4{
    font-size: 24px;
    font-weight: bold;
}

.text_color{
    color: #6B708D;
}

.intro_text{
    font-size: 20px;
}

.intro_text_medium{
    font-size: 24px;
    color: #292E47;
    margin: 0 10px;
    padding: 15px;
}

.body_regular{
    font-size: 20px;
    line-height: 30px;
    margin: 20px;
    text-align: justify;
}

.headline_regular{
    font-size: 17px;
    margin: 0 10px;
    padding: 15px;
}

.text-link{
    font-size: 15px;
    text-decoration: none;
    margin: 0px 10px;
    padding: 30px 10px;
}

.form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    align-content: center;
}

.form_label{
    margin-bottom: 4px;
    font-size: 15px;
    color: #6B708D;

}

.form_input{
    background-color: rgba(107, 112, 141, 0.1) ;
    border: none;
    padding: 15px;
    margin-bottom: 12px;
    width: 75%;
    font-size: 12px;
    color: #6B708D;
}


.form textarea{
    background-color:rgba(107, 112, 141, 0.1);
    width: 75%;
    padding: 15px;
    border: none;
}

#form_message{
    font-family: roboto;
    font-size: 12px;
    color: #6B708D;
}
/*.contact_us_result_message {
    visibility: hidden;
}*/

.contact_us_result_message_success {
    font-family: roboto;
    font-size: 17px;
    visibility: show;
    color: green;
    width: 75%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.contact_us_result_message_error {
    font-family: roboto;
    font-size: 17px;
    visibility: show;
    background-color: red;
    width: 75%;
    padding: 15px;
    color: #F2F4FC;
    align-items: center;
}

.form-submit{
    background-color: #072AC8;
    color: aliceblue;
    font-size: 15px;
    border: none;
    width: 75%;
    padding: 15px;
}

@media (min-width:1024px){
    h1{
        font-size: 60px;
     }
    
    h2{
         font-size: 50px;
         text-align: unset;
         margin: 80px 20px 20px 50px;
    }
    
    h3{
        font-size: 40px;
        margin: 80px 20px 20px 50px;
    }
    
    h4{
        font-size: 24px;
        font-weight: bold;
    }
    
    
    .intro_text{
        font-size: 20px;
    }
    
    .intro_text_medium{
        font-size: 24px;
    }

    .logo{
        display: flex;
        width: 50%;
        margin: 20px;
        padding:20px;
    }

    .body_regular{
        font-size: 20px;
       
    }

    /*.form input{
        width: 75%;
    }
    
    textarea{
        width: 75%;
    }*/

}
